# Copy this file to infrastructure/.env before running "npm exec nx run infrastructure:up".
# Change service URLs if backend apps run on ports other than 3001-3005.
KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001
KONG_PROXY_SSL_PORT=8443
NATS_CLIENT_PORT=4222
NATS_MONITORING_PORT=8222
POSTGRES_PORT=5432
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=postgres
REDIS_PORT=6379
AUTH_SERVICE_URL=http://host.docker.internal:3001
USER_SERVICE_URL=http://host.docker.internal:3002
PRODUCT_SERVICE_URL=http://host.docker.internal:3003
ORDER_SERVICE_URL=http://host.docker.internal:3004
PAYMENT_SERVICE_URL=http://host.docker.internal:3005
